node_modules/
dist/
build/
.DS_Store
*.log
.env
.env.*
.cache/
.vscode/
.idea/
.turbo/
.pnpm-store/
coverage/
.pytest_cache/
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.backup
.kube/
package-lock.json
pnpm-lock.yaml
yarn.lock
*.iml
